<mat-spinner *ngIf="!set||!cards"></mat-spinner>
<section *ngIf="set">
  <div class="content" *ngIf="isWelcome">
    <button (click)="openSetting()" style="position: absolute; left: 20px; top: 20px;">Setting</button>
    <h4>Card Set: {{set.title}}</h4>
    <h6>Number of Cards: {{this.cards.length()}} cards</h6>
    <!--<div *ngIf="options.isStepper"><input type="checkbox" [(ngModel)]="options.isLinear"> Play Cards Linearly</div>-->
    <button (click)="start()">Start</button>
  </div>

  <div *ngIf="!isWelcome">
    <div *ngIf="options.addIncorrect">
      <div *ngIf="options.isStepper">
        <app-stepper-add-incorrect [cards]="cards" [options]="options"></app-stepper-add-incorrect>
      </div>
      <div *ngIf="!options.isStepper">
        <app-single-card-multiple-choice [cards]="cards" [options]="options"></app-single-card-multiple-choice>
      </div>
    </div>
    <div *ngIf="!options.addIncorrect">
      <div *ngIf="options.isStepper">
        <mat-vertical-stepper [linear]="options.isLinear">
          <mat-step *ngFor="let card of cards.Value, let i = index">
            <div class="content">
              <h3>{{card.question}}</h3>
              <p *ngIf="peek">{{card.answer}}</p>
              <button mat-raised-button color="accent" (click)="Peek()" >Peek</button>
              <div style="position: absolute; left: 10px; bottom: 10px;">
                <button mat-raised-button color="primary" (click)="again(i)">Learn Again!</button>
                <button matStepperNext mat-raised-button color="primary"(click)="skip()">Done!</button>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <button mat-raised-button color="primary" (click)="result()">Result</button>
          </mat-step>
        </mat-vertical-stepper>
      </div>
      <div *ngIf="!options.isStepper">
        <app-single-card-test [cards]="cards" [options]="options"></app-single-card-test>
      </div>
    </div>
  </div>
</section>

